.home {
  text-align: center;
  height: 100vh; /* Full viewport height */
  background-image: url('https://i.pinimg.com/originals/df/c9/48/dfc9485ada0eb3d69b67423762f56ba8.jpg'); /* Background image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  padding: 50px; /* Add padding for content */
  color: #fff; /* Set text color to white for better contrast */
}

.home h2 {
  font-size: 2.5rem;
  color: rgb(3, 3, 3); /* Change heading color to white */
}

.home p {
  font-size: 1.2rem;
  color: rgb(17, 17, 17); /* Change paragraph color to white */
}

.cta-button {
  padding: 10px 20px;
  background-color: #18bc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cta-button:hover {
  background-color: #16a085;
}
